appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs==24.2.0
babel==2.16.0
Bottleneck @ file:///Users/ec2-user/ci_py311/bottleneck_1678322312632/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1666764877873/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179612308/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click==8.1.7
colorama==0.4.6
colour==0.1.5
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633760739/work
coverage @ file:///Users/runner/miniforge3/conda-bld/coverage_1714846685377/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1672672547282/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cyipopt @ file:///Users/runner/miniforge3/conda-bld/cyipopt_1669703421539/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1666827168601/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
ghp-import==2.1.0
griffe==1.5.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
iniconfig==2.0.0
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1674755212127/work
jaxlib==0.4.1
Jinja2==3.1.4
joblib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_dfriz0qjwt/croot/joblib_1685113297703/work
katex==0.0.4
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805734106/work
llvmlite @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_ac_19ws8hq/croot/llvmlite_1697031061293/work
Markdown==3.7
MarkupSafe==3.0.2
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1674078913487/work
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.2.0
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.44
mkdocs-material-extensions==1.3.1
mkdocstrings==0.26.2
mkdocstrings-python==1.12.2
mpi4py @ file:///Users/runner/miniforge3/conda-bld/mpi4py_1667459782296/work
munkres==1.1.4
numba @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_23z4jqmcr0/croot/numba_1701362365518/work
numexpr @ file:///Users/ec2-user/ci_py311/numexpr_1678372811470/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_bdk7p7tnsw/croot/numpy_and_numpy_base_1682520579379/work
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
paginate==0.5.7
pandas==1.5.3
pathspec==0.12.1
patsy==0.5.3
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1672675397158/work
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
prettytable @ file:///Users/ec2-user/ci_py311/prettytable_1678393439570/work
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1666856063684/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydelay==0.1.1
pygam @ file:///home/conda/feedstock_root/build_artifacts/pygam_1689012298145/work
Pygments==2.18.0
pymdown-extensions==10.12
Pyomo==6.4.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==8.3.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-utils @ file:///home/conda/feedstock_root/build_artifacts/python-utils_1695889794928/work
pytkdocs==0.16.2
pyts @ file:///home/conda/feedstock_root/build_artifacts/pyts_1687105520603/work
pytz==2021.3
PyYAML==6.0.2
pyyaml_env_tag==0.1
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
scikit-learn @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c1cbgsrq20/croot/scikit-learn_1690978919468/work
scipy==1.10.0
seaborn @ file:///Users/ec2-user/ci_py311/seaborn_1678394152964/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6ceh3qgte0/croot/statsmodels_1689937269297/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1666788897868/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1673452138552/work
watchdog==6.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
